// includes

@import "icons/style.css";


// variables

$white:             #FFFFFF;
$grey-0:            #F3F5F7;
$grey-1:            #ECEFF2;
$grey-2:            #E0E4E9;
$grey-3:            #CAD1D9;
$grey-4:            #B5BECA;
$grey-5:            #9FACBB;
$grey-6:            #8A99AC;
$grey-7:            #75869D;
$grey-8:            #62748A;
$grey-9:            #536275;
$grey-10:           #445060;
$grey-11:           #353E4A;
$grey-12:           #252C35;
$black:             #000000;

$brd-wdt:           0.0625rem;
$brd-rds:           0.2rem;
$brd-col:           $grey-3;
$brd-drk:           $grey-4;

$fnt-sm:            0.8rem;
$fnt-col-faded:     $grey-6;

//$primary:         #3498db;
$primary:           #0275d8;
$secondary:         #2ecc71;
$warning:           #e67e22;
$danger:            #e74c3c;

$shift:             #222;
$transparent:       rgba(0,0,0,0);


// global overrides

html {height: 100%;}
body {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: 400; padding-top: 5rem; background: $grey-0;}

a {color: $primary;}
a:hover, a:focus {color: $primary - $shift;}

h1 {font-size: 1.50rem; line-height: 1.875rem; font-weight: 700; margin: 1rem 0 1rem;}
h2 {font-size: 1.33rem; font-weight: 700; margin: 1rem 0 1rem;}
h3 {font-size: 1.00rem; font-weight: 700; margin: 1rem 0 1rem;}

h1.title {text-align: center;}

// .list-group, .list-group-item {border-color: $brd-col;}

// input[type=checkbox].chckbx-pls {display: none;}
// input[type=checkbox].chckbx-pls + label, input[type=checkbox].chckbx-pls:checked + label {height: 31px; width: 31px; display: block; padding: 0; margin: 0; cursor: pointer;}
// input[type=checkbox].chckbx-pls + label:before {content: "\e94a"; color: $grey-3; font-size: 1.9375rem;}
// input[type=checkbox].chckbx-pls:checked + label:before {content: "\e94b"; color: $primary;}


// navbar

.navbar-dark {background: $primary;}
.navbar-brand {font-weight: 700;}


// cards

$dom-prev: #9b59b6;
$dom-scr: #f39c12;

.card {background: $white; border-color: $grey-2;}
.card .eyecatcher {font-size: 7rem; margin: -0.5rem 0 -1.5rem; text-align: center; color: $primary;}
.card .list-group:first-child .list-group-item:first-child {border-top: 0;}
.card .list-group:last-child .list-group-item:last-child {border-bottom: 0;}
.card .list-group-item h3 {margin: 0;}

.card a.list-group-item  h3 {color: $primary;}
.card a.list-group-item:hover h3, .card .list-group-item:focus h3 {color: $primary - $shift;}

.card .list-group-item .collapsible {margin-top: 1rem;}
.card .list-group-item .collapsible-title {margin: 0; cursor: pointer; color: $dom-prev;}
.card .list-group-item .collapsible-title:hover, .card .list-group-item .collapsible-title:focus {color: $dom-prev - $shift;}

.card.card-domain {background: $primary; color: $white; border-color: $primary - #111;}
.card-domain .list-group-item {background: $primary; color: $white; border-color: $primary - $shift;}
.card-domain .list-group-item:hover, .card-domain .list-group-item:focus {background: $primary - $shift; border-color: $primary - (2 * $shift);}
.card-domain a.list-group-item h3 {color: $white;}
.card-domain a.list-group-item:hover h3, .card-domain a.list-group-item:focus h3 {color: $white;}
.card-domain a.list-group-item small {color: rgba($white, 0.6);}

.card.card-domain-prev.card-domain {background: $dom-prev; border-color: $dom-prev - #111;}
.card.card-domain-prev.card-domain .list-group-item {background: $dom-prev; border-color: $dom-prev - $shift;}
.card.card-domain-prev.card-domain .list-group-item:hover, .card-domain .list-group-item:focus {background: $dom-prev - $shift; border-color: $dom-prev - (2 * $shift);}

.card.card-domain-scr.card-domain {background: $dom-scr; border-color: $dom-scr - #111;}
.card.card-domain-scr.card-domain .list-group-item {background: $dom-scr; border-color: $dom-scr - $shift;}
.card.card-domain-scr.card-domain .list-group-item:hover, .card-domain .list-group-item:focus {background: $dom-scr - $shift; border-color: $dom-scr - (2 * $shift);}

.card img {max-width: 100%;}

.btn-group-full {display: block; width: 100%; display: flex;}
.btn-group-full>* {flex-grow: 1; float: none;}


form .form-group label {font-size: 0.875rem;}
input[type="date"].form-control {line-height: 1.6rem;}

.form-control {}
