<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12">
    <p>Ve vašem věku byste {{ vm.gender === 'female' ? 'měla' : 'měl' }} věnovat pozornost následujícím oblastem</p>
  </div>
</div>

<div class="row" ng-show="vm.issuesPreventive && vm.issuesPreventive.length > 0">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12">
    <div class="card card-domain card-domain-prev">
      <div class="card-block">
      <h2 class="card-title">Preventivní prohlídky</h2>
      <p class="card-subtitle">Věděli jste, že se vás týká ...</p>
    </div>
    <ul class="list-group list-group-flush">
      <a class="list-group-item" href="javascript:void(0);" ng-repeat="issue in vm.issuesPreventive">
        <h3>{{ issue.name }}</h3>
        <div ng-show="issue.period">
            <small class="text-muted">
                Od {{ issue.startAge }} let
                <span ng-show="issue.period === 6">dvakrát ročně</span>
                <span ng-show="issue.period === 12">jednou ročně</span>
                <span ng-show="issue.period === 24">jednou za dva roky</span>
                <span ng-show="issue.period === 48">jednou za 4 roky</span>
            </small>
        </div>
        <div ng-show="!issue.period && issue.startAge === issue.endAge"><small class="text-muted">Jedenkrát ve věku {{ issue.startAge }} let</small></div>
      </a>
    </ul>
    </div>

  </div>
</div>

<div class="row" ng-show="vm.issuesScreening && vm.issuesScreening.length > 0">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12">
    <div class="card card-domain card-domain-scr">
      <div class="card-block">
      <h2 class="card-title">Screening prohlídky</h2>
      <p class="card-subtitle">Věděli jste, že se vás týká ...</p>
    </div>
    <ul class="list-group list-group-flush">
      <a class="list-group-item" href="javascript:void(0);" ng-repeat="issue in vm.issuesScreening">
        <h3>{{ issue.name }}</h3>
        <div ng-show="issue.period">
            <small class="text-muted">
                Od {{ issue.startAge }} let
                <span ng-show="issue.period === 6">dvakrát ročně</span>
                <span ng-show="issue.period === 12">jednou ročně</span>
                <span ng-show="issue.period === 24">jednou za dva roky</span>
                <span ng-show="issue.period === 48">jednou za 4 roky</span>
            </small>
        </div>
        <div ng-show="!issue.period && issue.startAge === issue.endAge"><small class="text-muted">Jedenkrát ve věku {{ issue.startAge }} let</small></div>
      </a>
    </ul>
    </div>

  </div>
</div>


<!-- <div class="row" ng-repeat="item in vm.issues">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12">
    <div class="card card-block">
      <h2 class="card-title">{{ item.name }}</h2>
      <p class="card-text">...</p>
      <p class="card-text">
          <small>{{ item.subgroup }}, </small>
          <small ng-show="item.period === 12">každý rok</small>
          <small ng-show="item.period === 24">každé dva roky</small>
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12">
    <div class="card card-block">
      <h2 class="card-title">Plánujte svou prevenci s námi</h2>
      <p class="card-text">Pečujte dlouhodobě o zdraví své a svých blízkých. Vytvořte si u&nbsp;nás účet a&nbsp;pak vše klidně pusťte z&nbsp;hlavy. Budeme na vaši prevenci myslet za vás.</p>
      <form>
        <fieldset class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" ng-model="vm.email">
        </fieldset>

        <fieldset class="form-group">
          <label for="password">Heslo</label>
          <input type="password" class="form-control" id="password" ng-model="vm.password">
        </fieldset>

        <!-- <label for="fullname">Celé jméno</label>
        <input type="text" class="form-control" id="fullname" ng-model="vm.fullname"> -->

        <!-- First:
        <input type="text" ng-model="vm.firstName" />

        Last:
        <input type="text" ng-model="vm.lastName" /> -->

        <button class="btn btn-primary" ng-click="vm.signUp()" ng-show="!vm.signingUp">Zaregistrovat</button>
        <button class="btn btn-primary disabled" ng-show="vm.signingUp">Registruji ...</button>
      </form>

  </div>
</div>
</div>

<div class="row law">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12">
    <a ui-sref="law">Vyloučení odpovědnosti</a>
  </div>
</div>
