
<div ng-if="vm.issue._id !== '5708f226ab37022324f8d058'">
  <h1>{{ vm.issue.name }}</h1>
</div>


<div ng-if="vm.issue._id === '5708f226ab37022324f8d058'">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12">
      <div class="card">

        <div class="card-block">
          <h1 class="card-title">STOP rakovině tlustého střeva a konečníku</h1>
          <p>Rakovina tlustého střeva a konečníku se v České republice vyskytuje mimořádně často. Při srovnání s jinými státy je u nás dokonce nejvyšší výskyt tohoto onemocnění.</p>
          <p>Každý rok je v České republice zhoubný nádor tlustého střeva či konečníku zjištěn asi u 8000 osob a zhruba 4000 pacientů na toto onemocnění v naší zemi každoročně umírá.</p>
          <h2>Věk</h2>
          <p>Věk je jedním z rizikových faktorů a včasná diagnóza může závažně ovlivnit výhled na vyléčení. Kolorektální karcinom většinou vzniká ve věku nad 50 let, výjimkou ale nejsou ani mladší pacienti. Některé pojišťovny hradí screeningové vyšetření i před 50. rokem.</p>
          <p><img src="/assets/028-age-specific-incidence-both.png" alt="C18–C21 — Věkově specifická incidence — obě pohlaví"></p>
          <p>Navštivte gynekologa či praktického lékaře, který Vám po osobní konzultaci:</p>
          <ol>
            <li>předepíše bezplatný test okultního krvácení do stolice (TOKS) (50–54 let věku: 1x ročně; od 55 let výše: 1x za dva roky)</li>
            <li>vypíše žádanku na vyšetření pomocí screeningové kolonoskopie; následná volba konkrétního screeningového centra je jen na Vás, můžete přitom využít seznam akreditovaných center</li>
          </ol>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h2 class="collapsible-title" data-toggle="collapse" data-target="#collapse-advice">Praktické rady</h2>
            <div class="collapse collapsible" id="collapse-advice">
              <p>Zjistíte-li již pouhým okem viditelné stopy krve ve stolici, rozhodně neváhejte a ihned navštivte lékaře.</p>
              <p>Pokud spadáte do věkové kategorie 50-54 let a rozhodli jste se pro prevenci pouze formě testu na okultní krvácení do stolice (TOKS), provádějte ho v každém případě každoročně.</p>
              <p>Nechcete-li do testu sami nic investovat, uplatněte u praktického lékaře či gynekologa nárok na bezplatné vyšetření (viz Pozn.). Od 55 let výše postačí už jen jedno vyšetření za dva roky. Nejen z tohoto hlediska je potom nejlepší screeningová kolonoskopie, jejíž výsledky – jsou-li v pořádku – Vám zaručí deset let života bez úzkosti a stresu.</p>
            </div>
          </li>
          <li class="list-group-item">
            <h2 class="collapsible-title" data-toggle="collapse" data-target="#collapse-reimbursement">Hrazení</h2>
            <div class="collapse collapsible" id="collapse-reimbursement">
              <p>Nárok na screeningové vyšetření hrazené z veřejného zdravotního pojištění mají v ČR</p>
              <ul>
                <li>Muži i ženy ve věku 50-54 let: nárok na test na okultní krvácení do stolice jednou ročně</li>
                <li>Muži i ženy ve věku 55 a více let: nárok na test na skryté krvácení do stolice jednou za dva roky NEBO na screeningovou kolonoskopii jednou za 10 let.</li>
              </ul>
            </div>
          </li>
          <li class="list-group-item">
            <h2 class="collapsible-title" data-toggle="collapse" data-target="#collapse-checkup">Jak probíhá vyšetření</h2>
            <div class="collapse collapsible" id="collapse-checkup">
              <p>V rámci prevence kolorektálního karcinomu se můžete v České republice v současné době setkat se dvěma různými typy vyšetření:</p>
              <ul>
                <li>Testem okultního krvácení do stolice (zkráceně TOKS)</li>
                <li>Screeningovou kolonoskopií</li>
              </ul>
              <p>Každý člověk starší 50 let by měl začít vážně přemýšlet o absolvování alespoň jednoho z nich. Je dobré mít na zřeteli, že mezi oběma typy vyšetření existují podstatné rozdíly (srovnej test okultního krvácení do stolice a screeningová kolonoskopie).</p>
            </div>
          </li>
          <li class="list-group-item">
            <h2 class="collapsible-title"><a href="http://www.kolorektum.cz/index.php?pg=pro-verejnost--kolorektalni-screening--centra--seznam" target="_blank">Seznam akreditovaných center &rarr;</a></h2>
          </li>

          <li class="list-group-item">
            <p class="text-muted"><small>Zdroj: Kolorektum.cz; Česká onkologická společnost</small></p>
          </li>

        </ul>

      </div>
    </div>
  </div>
</div>
