<ul class="sidemenu">

    <li class="item-section collapsible collapsed">
        <div class="item item-section-title collapser"><span>Reports</span></div>
        <div class="collapsee">
            <ul class="submenu">
                <li class="item item-subsection-title" ng-click="change('includes/reports.html')"><span>Dashboards</span></li>
                <li class="item" ng-click="change('includes/reports.html')"><span class="icon icon-watch">Now</span></li>
                <li class="item"><span class="icon icon-map">Historical</span></li>

                <li class="item item-subsection-title"><span>Sales</span></li>
                <li class="item"><span class="icon icon-pricetag">By Item</span></li>
                <li class="item"><span class="icon icon-folder">By Category</span></li>
                <li class="item"><span class="icon icon-person">By Employee</span></li>

                <li class="item item-subsection-title"><span>Reports</span></li>
                <li class="item"><span class="icon icon-report">Cash Report</span></li>

                <li class="item item-subsection-title"><span>Staff</span></li>
                <li class="item"><span class="icon icon-clock">Time Sheet</span></li>
                <li class="item"><span class="icon icon-cash">Labor Costs</span></li>
            </ul>
        </div>
    </li>
    
    <li class="item-section collapsible">
        <div class="item item-section-title collapser"><span>Employees</span></div>
        <div class="collapsee">
            <ul class="submenu">
                <li class="item item-subsection-title" ng-click="change('includes/employees.html')"><span>General</span></li>
                <li class="item " ng-click="change('includes/employees.html')"><span class="icon icon-person">Employees</span></li>
            </ul>
        </div>
    </li>

    <li class="item-section collapsible collapsed">
        <div class="item item-section-title collapser"><span>Settings</span></div>
        <div class="collapsee">
            <ul class="submenu">
                <li class="item item-subsection-title" ng-click="change('includes/settings.html')"><span>Terminal</span></li>
                <li class="item" ng-click="change('includes/settings.html')"><span class="icon icon-sprocket">General</span></li>

                <li class="item item-subsection-title" ng-click="change('includes/items.html')"><span>Portfolio</span></li>
                <li class="item active" ng-click="change('includes/items.html')"><span class="icon icon-pricetag">Items</span></li>
                <li class="item"><span class="icon icon-folder">Categories</span></li>
                <li class="item"><span class="icon icon-pencil">Modifications</span></li>
            </ul>
        </div>
    </li>

</ul>